NODE_ENV=development
{{#if isMonolith}}PORT=3000{{/if}}
{{#if isMicroservice}}GRPC_URL=0.0.0.0:50051{{/if}}
{{#if typeorm}}
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME={{projectName}}
{{/if}}
{{#if auth}}
JWT_SECRET=change-me-to-a-long-random-secret
{{/if}}
